# NOTE:
# Coming from nginx, a ton of stuff looks like it's missing from this configuration.
# This is because Caddy implements sane defaults for the majority of its options, and
# we use those (for now at least).

{
    email salezica@gmail.com
}

dashi.salezica.io {
    encode gzip
    reverse_proxy localhost:4000
}

new.salezica.io {
    encode gzip
    reverse_proxy localhost:4001
}
