# NOTE:
# Coming from nginx, a ton of stuff looks like it's missing from this configuration.
# This is because Caddy implements sane defaults for the majority of its options, and
# we use those (for now at least).

{
    email salezica@gmail.com
}

salezica.io {
    encode gzip

    @needs_trailing_slash path_regexp /[^/.]+[^/]$
    rewrite @needs_trailing_slash {path}/

    reverse_proxy localhost:4001
}

dashi.salezica.io {
    encode gzip
    reverse_proxy localhost:4000
}

tunnel.salezica.io {
    reverse_proxy localhost:5000
}
